<div id="content-audiobooks">
  <div id="content-audiobooks-heading">Content</div>

  <a href="#asking-for-permission"
    >1. Asking for permission <br />
    <a href="#cc-licenses">2. CC licenses</a><br />
    <a href="#nd-condition">3. ND condition</a><br />
    <a href="#nc-condition">4. NC condition</a><br />
    <a href="#sa-condition">5. SA condition </a><br />
    <a href="#cc-zero-and-cc-by">6. CC-Zero and CC BY</a><br />

    <a href="#using-the-cc-licenses">7. CC licenses and audiobooks</a><br />
    <a href="#example" class="indented-list">7.1. Imaginary example</a><br />
    <a href="#complicated-cc-notice" class="indented-list"
      >7.2. Complicated CC notice</a
    ><br />
    <a href="#only-the-copyright" class="indented-list"
      >7.3. Only the copyright</a
    ><br />

    <a href="#combinations" class="indented-list">7.4. Combinations</a><br />
    <a href="#real-example" class="indented-list">7.5. Real example</a><br />
    <a href="#another-imaginary-example" class="indented-list"
      >7.6. Another Imaginary Example</a
    ><br />

    <a href="#additional-benefits">8. Additional benefits</a><br />
    <a href="#my-inspiration">9. My inspiration</a><br />
    <a href="#additional-benefits">10. Additional benefits</a><br />

    <a href="#summary">11. Summary</a><br />
    <a href="#comments">12. Comments</a><br />

    <br />

    *If you want to go back to the content, click the navbar.
  </a>
</div>
